
.home-page-wrapper {
  margin-top: 150px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container img{
  width: 300px;
  margin-bottom: 21px;
}
.home-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-buttons-container button {
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  margin: 9px;
}
